* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  font-size: 0.85rem;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  padding: 16px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 10px;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  border-radius: 3px;
}
.sidebar ul li a:hover {
  background-color: #495057;
}

.content {
  flex: 1;
  padding: 16px;
  background-color: #f8f9fa;
  max-width: calc(100vw - 250px);
  overflow: auto;
  max-height: calc(100vh - 0px);
}

h1,
h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

h3 {
  margin-bottom: 5px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  white-space: nowrap;
}

th {
  padding: 6px 8px;
  background-color: #f0f0f0;
  color: #2e2e2e;
}

td {
  padding: 4px 8px;
  text-align: left;
}

.pagination {
  padding: 10px 0 5px 0;
}
.pagination a {
  text-decoration: none;
  color: #007BFF;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-right: 5px;
  border-radius: 3px;
}
.pagination a:hover {
  background-color: #007BFF;
  color: #fff;
}

form {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

textarea {
  width: 100%;
  height: 72px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: background-color ease-in-out 0.2s;
  resize: vertical;
}
textarea:focus-visible {
  outline: none;
  box-shadow: inset 0 0 1px rgba(0, 123, 255, 0.7176470588);
  border-color: rgba(0, 123, 255, 0.862745098);
}

[type=submit],
[type=button],
[type=reset],
button {
  padding: 8px 16px;
  border: none;
  cursor: pointer;
  border-radius: 3px;
}

[type=submit] {
  background-color: #007BFF;
  color: #fff;
}

[type=submit]:hover {
  background-color: #0056b3;
}

[type=reset] {
  background-color: #ffa600;
  color: #333333;
}

[type=reset]:hover {
  background-color: rgba(255, 166, 0, 0.9450980392);
}

.sidebar form {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

#database-select, #schema-select {
  padding: 4px 8px;
  background-color: #ECECEC;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.table-list {
  max-height: calc(100vh - 170px);
  overflow: auto;
}
.table-list li a {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-from-default-app=true] .table-list {
  max-height: calc(100vh - 72px);
}

.collapsible .button-toggle {
  float: right;
  width: 20px;
  padding: 1px 5px;
  border: 1px solid #DDDDDD;
  background-color: #EEEEEE;
  cursor: pointer;
}
.collapsible .button-toggle::before {
  content: attr(data-close);
}

.collapsible > div {
  display: none;
}

.collapsible.open > div {
  display: block;
}

.collapsible.open .button-toggle::before {
  content: attr(data-open);
}

.table-content {
  margin-bottom: 10px;
}

.table-structure-inner,
.table-content-inner {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 10px;
  max-height: calc(100vh - 265px);
}

.query-result {
  max-height: calc(100vh - 365px);
}

.table-structure-inner table td, .table-content-inner table td, .query-result table td {
  white-space: nowrap;
}
.table-structure-inner table tbody tr:nth-child(odd) td, .table-content-inner table tbody tr:nth-child(odd) td, .query-result table tbody tr:nth-child(odd) td {
  background-color: #F8F8F8;
}
.table-structure-inner table tbody tr:nth-child(even) td, .table-content-inner table tbody tr:nth-child(even) td, .query-result table tbody tr:nth-child(even) td {
  background-color: #FEFEFE;
}

.query-executed {
  padding: 12px 16px 16px 16px;
  border: 1px solid #DDDDDD;
  margin-top: 20px;
  background-color: #FAFAFA;
  border-radius: 3px;
}
.query-executed .query-title {
  font-weight: bold;
  padding: 0px 0px 4px 0;
  color: #555555;
}
.query-executed .query-raw {
  padding: 8px 16px;
  border: 1px solid #e8aa35;
  background-color: #fff8ea;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 16px;
  border-radius: 3px;
}
.query-executed .query-raw:focus-visible {
  outline: none;
  border: 1px solid #c89027;
  box-shadow: inset 0px 0px 2px rgba(200, 144, 39, 0.3294117647);
}
.query-executed .sql-error {
  padding: 8px 16px;
  border: 1px solid #e86835;
  background-color: #ffd3c1;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 16px;
}
.query-executed .query-result {
  padding-top: 4px;
  overflow-x: auto;
}/*# sourceMappingURL=database-explorer.css.map */