<div class="back-controls">
    <a href="#admin?view=detail&adminId={{.AdminID}}" class="btn btn-secondary">{{ T "back_to_detail" }}</a>
</div>
<div class="table-container detail-view">
    <h3>{{ T "change_password" }}</h3>
    <form id="change-password-form" class="form-group" onsubmit="handleAdminChangePassword(event, '{{ .AdminID }}'); return false;">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>{{ T "new_password" }}</td>
                    <td><input type="password" name="password" required autocomplete="new-password"></td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <button type="submit" class="btn btn-success">{{ T "update" }}</button>
                        <a href="#admin?view=detail&adminId={{.AdminID}}" class="btn btn-secondary">{{ T "cancel" }}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

{{/* Anda perlu menambahkan fungsi JavaScript handleAdminChangePassword(event, adminId) */}}