inc.cfg/applications/*
inc.cfg/core.yml
inc.cfg/entity/*
inc.cfg/entities/*
tmp/*
.cache/*
inc.cfg/*
inc.database/*
magic-admin/update/*

inc.lib/vendor/planetbiru/magic-object/.git/*
inc.lib/vendor/planetbiru/magic-app/.git/*