# Set proper MIME type for .wasm
AddType application/wasm .wasm

<FilesMatch "\.wasm$">
    # Enable caching for .wasm files (cache for 3 months)
    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "access plus 3 months"
    </IfModule>

    <IfModule mod_headers.c>
        Header set Cache-Control "public, max-age=7884000"
    </IfModule>
</FilesMatch>

<FilesMatch "\.(css|js|jpg|jpeg|png|gif|svg|ico)$">
    # Enable caching for static files (cache for 3 months)
    <IfModule mod_expires.c>
        ExpiresActive On
        ExpiresDefault "access plus 3 months"
    </IfModule>

    <IfModule mod_headers.c>
        Header set Cache-Control "public, max-age=7884000"
    </IfModule>
</FilesMatch>

<IfModule mod_rewrite.c>

    RewriteEngine On

    # Block direct access to the inc.resource directory and its contents
    RewriteRule ^inc\.resource(/|$)                   403.php [L]

    # Block direct access to the inc.app directory and its contents
    RewriteRule ^inc\.app(/|$)                        403.php [L]

    # Block direct access to the inc.lib directory and its contents
    RewriteRule ^inc\.lib(/|$)                        403.php [L]

    # Block direct access to the inc.lang directory and its contents
    RewriteRule ^inc\.lang(/|$)                       403.php [L]

    # Block direct access to the inc.cfg directory and its contents
    RewriteRule ^inc\.cfg(/|$)                        403.php [L]

    # Block direct access to the .cache directory and its contents
    RewriteRule ^\.cache(/|$)                         403.php [L]

    # Block direct access to the .tmp directory and its contents
    RewriteRule ^\.tmp(/|$)                           403.php [L]

    RewriteRule ^(.*/)?favicon\.ico$                  favicon.ico [NC,L]
    RewriteRule ^(.*/)?favicon\.png$                  favicon.png [NC,L]

    # Redirect access to .ini files in any directory to 403.php
    RewriteRule ^.*\.ini$                             403.php [L]

    # Redirect access to .yml files in any directory to 403.php
    RewriteRule ^.*\.yml$                             403.php [L]

    # Redirect access to .htaccess files in any directory to 403.php
    RewriteRule ^.*\.htaccess$                        403.php [L]

    # Redirect access to .database files in any directory to 403.php
    RewriteRule ^.*\.database$                        403.php [L]

    # Redirect access to .db files in any directory to 403.php
    RewriteRule ^.*\.db$                              403.php [L]

    # Redirect access to .sqlite files in any directory to 403.php
    RewriteRule ^.*\.sqlite$                          403.php [L]

    # Redirect access to Dockerfile in any directory to 403.php
    RewriteRule ^.*Dockerfile$                        403.php [L]

    # Redirect access to .gitignore files in any directory to 403.php
    RewriteRule ^.*\.gitignore$                       403.php [L]

    # Redirect access to .gitattributes files in any directory to 403.php
    RewriteRule ^.*\.gitattributes$                   403.php [L]

    # Block direct access to PHP files in /database-explorer/inc.db
    RewriteRule ^database-explorer/inc\.db/.*\.php$   403.php [L]

    # Redirect access to non-existent files to 404.php
    # This rule must be paced at the end of the file
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^.*$                                  404.php [L]

</IfModule>