/* Basic styling for the menu list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Context Menu Styles */
.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
  overflow: visible !important;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.context-menu ul li {
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.context-menu ul li a {
  display: block;
  color: #555555;
  padding: 5px 10px 5px 10px;
}

.context-menu ul li ul {
  padding: 5px;
}
.context-menu ul li ul li {
  padding: 5px 10px;
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}

.container-file-manager {
  /* Styling for icons using pseudo-elements */
  /* Icon for 'open' operation (Green) */
  /* Icon for 'rename' operation (Orange) */
  /* Icon for 'download' operation (Blue) */
  /* Icon for 'delete' operation (Red) */
  /* Icon for 'new' operation (Purple) */
  /* Icon for 'new-dir' operation (Yellow) */
  /* Icon for 'upload' operation (Green for upload) */
  /* Icon for 'reset' operation (Gray for Reset Content) */
  /* Icon for 'view-image' operation (Teal for image preview) */
}
.container-file-manager .context-menu ul li {
  padding: 5px 10px 5px 10px;
}
.container-file-manager .context-menu li::before {
  content: ""; /* Default content */
  display: inline-block;
  margin-right: 6px; /* Space between icon and text */
  color: inherit; /* Inherit color from the parent li */
  font-size: 12px;
  vertical-align: top;
  font-family: "Font Awesome 5 Free"; /* NOSONAR */
  font-weight: 900;
  width: 12px;
}
.container-file-manager .context-menu [data-operation=open]::before {
  content: "\f06e"; /* Font Awesome icon for file (open) */
  color: #4CAF50; /* Green for open */
}
.container-file-manager .context-menu [data-operation=rename]::before {
  content: "\f044"; /* Font Awesome icon for pencil (rename) */
  color: #FF9800; /* Orange for rename */
}
.container-file-manager .context-menu [data-operation=download]::before, .container-file-manager .context-menu [data-operation=compress]::before, .container-file-manager .context-menu [data-operation=root-dowload]::before {
  content: "\f019"; /* Font Awesome icon for download */
  color: #2196F3; /* Blue for download */
}
.container-file-manager .context-menu [data-operation=delete]::before {
  content: "\f1f8"; /* Font Awesome icon for trash (delete) */
  color: #F44336; /* Red for delete */
}
.container-file-manager .context-menu [data-operation=new-file]::before, .container-file-manager .context-menu [data-operation=root-new-file]::before {
  content: "\f15b"; /* Font Awesome icon for file (new) */
  color: #007cff; /* Blue for new */
}
.container-file-manager .context-menu [data-operation=new-dir]::before, .container-file-manager .context-menu [data-operation=root-new-dir]::before {
  content: "\f114"; /* Font Awesome icon for folder (new directory) */
  color: #FFC107; /* Yellow for new directory */
}
.container-file-manager .context-menu [data-operation=upload-file]::before {
  content: "\f093"; /* Font Awesome icon for upload */
  color: #4CAF50; /* Green for upload */
}
.container-file-manager .context-menu [data-operation=reset]::before, .container-file-manager .context-menu [data-operation=refresh-dir]::before {
  content: "\f021"; /* Font Awesome icon for refresh (reset) */
  color: #2196F3; /* Blue for reset */
}
.container-file-manager .context-menu [data-operation=view-image]::before {
  content: "\f03e"; /* Font Awesome icon for image */
  color: #009688; /* Teal for image preview */
}

.context-menu .dropdown-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e9ecef;
}/*# sourceMappingURL=context-menu.css.map */