@charset "UTF-8";
:root {
  font-size: 13px;
}

.h4 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1.2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.all {
  padding: 16px;
}

.main-table {
  border-collapse: collapse;
  border-color: #6e6e6e;
}
.main-table td {
  padding: 4px;
  border-color: #6e6e6e;
}
.main-table td select {
  width: 100%;
  box-sizing: border-box;
}
.main-table td input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
.main-table thead td {
  font-weight: bold;
}
.main-table thead td.data-sort {
  background-color: #797979;
  cursor: move;
  width: 24px;
}
.main-table tbody td.data-sort {
  background-color: #797979;
  cursor: move;
}
.main-table tbody tr:hover td {
  background-color: #E8E8EE;
}
.main-table tbody tr:hover td.data-sort {
  background-color: #797979;
}
.main-table tbody tr > td:nth-child(1) {
  padding-left: 10px;
}
.main-table tr td button {
  display: none;
}

form {
  margin: 0;
  padding: 0;
}

input {
  margin: 0;
}

select {
  margin: 0;
}

textarea {
  margin: 0;
}

button {
  margin: 0;
}

.database-info {
  padding: 0 0 4px 0;
}

.info-cell {
  display: inline-block;
  padding-right: 20px;
}

.text-code {
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  resize: vertical;
}

.ui-tabs .ui-tabs-panel {
  padding: 10px;
}

.define-wrapper {
  display: none;
}

.button-area {
  padding-top: 8px;
}

.code-area {
  margin: -10px -10px -11px -10px;
  display: none;
}

.desc {
  line-height: 1.5;
}

.reserved .field-name {
  color: #bf0101;
}

.tab-content {
  padding-top: 20px;
}

.config-table {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.config-table td {
  padding: 3px 0;
}
.config-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 200px;
}

.btn {
  margin-top: -3px;
}

.modal-header {
  padding: 0.6rem 1rem;
}
.modal-header .close {
  margin: -0.75rem -1rem -1rem auto;
}

.modal-footer {
  padding: 1rem 0.75rem 0.75rem;
}

.modal-md .config-table,
.modal-sm .config-table {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.modal-md .config-table td,
.modal-sm .config-table td {
  padding: 4px 0;
}
.modal-md .config-table td.paths, .modal-md .config-table td.languages,
.modal-sm .config-table td.paths,
.modal-sm .config-table td.languages {
  position: relative;
}
.modal-md .config-table td.paths table, .modal-md .config-table td.languages table,
.modal-sm .config-table td.paths table,
.modal-sm .config-table td.languages table {
  width: 100%;
  box-sizing: border-box;
}
.modal-md .config-table td.paths table tr td, .modal-md .config-table td.languages table tr td,
.modal-sm .config-table td.paths table tr td,
.modal-sm .config-table td.languages table tr td {
  padding: 4px 3px;
}
.modal-md .config-table td.paths table tr td:nth-child(1), .modal-md .config-table td.languages table tr td:nth-child(1),
.modal-sm .config-table td.paths table tr td:nth-child(1),
.modal-sm .config-table td.languages table tr td:nth-child(1) {
  width: calc(50% - 40px);
  padding-left: 0;
}
.modal-md .config-table td.paths table tr td:nth-child(2), .modal-md .config-table td.languages table tr td:nth-child(2),
.modal-sm .config-table td.paths table tr td:nth-child(2),
.modal-sm .config-table td.languages table tr td:nth-child(2) {
  width: calc(50% - 40px);
}
.modal-md .config-table td.paths table tr td:nth-child(4), .modal-md .config-table td.languages table tr td:nth-child(4),
.modal-sm .config-table td.paths table tr td:nth-child(4),
.modal-sm .config-table td.languages table tr td:nth-child(4) {
  padding-right: 0;
}
.modal-md .config-table td.paths table tbody tr td input[type=text], .modal-md .config-table td.languages table tbody tr td input[type=text],
.modal-sm .config-table td.paths table tbody tr td input[type=text],
.modal-sm .config-table td.languages table tbody tr td input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .modal-md .config-table td.paths .modal-md .config-table > tbody > tr > td, .modal-md .config-table td.languages .modal-md .config-table > tbody > tr > td,
  .modal-sm .config-table td.paths .modal-md .config-table > tbody > tr > td,
  .modal-sm .config-table td.languages .modal-md .config-table > tbody > tr > td {
    width: 100%;
    display: block;
  }
}
.modal-md .config-table tbody > tr:nth-child(1) > td:nth-child(1),
.modal-sm .config-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 35%;
}

.modal-table {
  width: 100%;
  margin: auto;
}
.modal-table td {
  padding: 4px 0;
}
.modal-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 200px;
}

table.table.table-reference td {
  padding: 5px 4px;
}
table.table.table-reference tr > td:first-child {
  padding: 5px 2px 5px 0;
}
table.table.table-reference tr > td:last-child {
  padding: 5px 0px 5px 2px;
}

.map-section {
  display: none;
}

.display-reference {
  display: none;
}

[data-reference-type=data] .display-reference {
  display: table-row;
}

.entity-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  margin-bottom: 10px;
}
.entity-list ul li {
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entity-list > div {
  height: calc(100vh - 146px);
  overflow-x: auto;
}

.erd-image {
  height: calc(100vh - 188px);
  overflow-x: auto;
  overflow-y: auto;
}

.diagram-option {
  padding-bottom: 10px;
  line-height: 35px;
}

.diagram-option .form-control {
  display: inline;
  width: 68px;
  padding-left: 8px;
  padding-right: 6px;
}

.diagram-option .form-control[name=maximum_level],
.diagram-option .form-control[name=maximum_column] {
  width: 60px;
}

.module-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  margin-bottom: 10px;
}
.module-list ul li {
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.module-list > div {
  height: calc(100vh - 146px);
  overflow-x: auto;
}

.column-body {
  position: relative;
}

.app-code {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #DDD;
  background-color: #FAFAFA;
  overflow: auto;
  display: block;
  width: calc(100% - 400px);
  height: calc(100vh - 184px);
}

.tabs .tab-content > .tab-pane {
  transition: opacity 0.01s ease 0s;
}

.selected-file::after {
  content: "✓";
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 2px;
}

li.file-syntax-error {
  color: #DD0000;
}
li.file-syntax-error a {
  color: #DD0000;
}

.accordion .card-header button.btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 0;
}
.accordion .card-header button.btn:focus {
  outline: none;
  box-shadow: none;
}
.accordion .card-header button.btn:focus-visible {
  outline: none;
  box-shadow: none;
}
.accordion .card:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion .card:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.collapsible-card .card:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.collapsible-card .card:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #dddddd;
}

.column-title {
  height: 48px;
}

.highlight-line {
  background-color: #e8f2ff;
}

#modal-create-reference-data .modal-dialog {
  transition: max-width ease-in-out 0.24s;
}

.input-invalid-value {
  color: #c11515;
  border-color: #b92525;
}

.input-invalid-value:focus {
  color: #c11515;
  background-color: #fff;
  border-color: #b92525;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(168, 54, 54, 0.1215686275);
}

.target-language, .filter-translate {
  display: inline;
  width: auto;
}

.table-reference-container {
  overflow-x: auto;
}

.reference-selector {
  padding: 2px 0px 10px 0px;
}

.application-container, .workspace-container {
  padding-left: 0;
  padding-right: 0;
}
.application-container .card .card-text, .workspace-container .card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 40px;
}

.workspace-item[data-selected=true],
.application-item[data-selected=true] {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.table td, .table th {
  padding: 0.4rem 0.5rem;
}

h3.entity-table-name {
  font-size: 1rem;
  font-weight: bold;
}

.main-menu {
  margin-bottom: 20px;
}

.workspace-card > div, .application-card > div {
  margin-bottom: 1rem;
}
.workspace-card .card-body, .application-card .card-body {
  padding-bottom: 0.8rem;
}
.workspace-card .card-body .btn, .application-card .card-body .btn {
  margin-bottom: 0.45rem;
}

.card-header {
  padding: 0.2rem 1.25rem;
}

.entity-table-container {
  overflow-x: auto;
}

.table.entity-table thead td {
  font-weight: bold;
}

.CodeMirror-lines {
  padding-left: 0.5rem;
}

.CodeMirror-linenumber {
  left: -0.5em !important;
}

.CodeMirror {
  line-height: 1.6;
  height: calc(100vh - 184px);
}

.CodeMirror-linebackground {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: calc(100% + 1rem);
}

.entity-column-selected {
  background-color: #EEEEEE;
}

.animation-wave,
.animation-wave > span {
  position: relative;
  display: inline-block;
  height: 12px;
  line-height: 1;
  padding: 0 10px;
}
.animation-wave > span,
.animation-wave > span > span {
  vertical-align: top;
  padding: 0 8px;
}
.animation-wave::before, .animation-wave::after,
.animation-wave > span::before,
.animation-wave > span::after,
.animation-wave > span::before,
.animation-wave > span::after,
.animation-wave > span > span::before,
.animation-wave > span > span::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  animation-name: anim-wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}
.animation-wave::before,
.animation-wave > span::before,
.animation-wave > span::before,
.animation-wave > span > span::before {
  left: 0;
}
.animation-wave::after,
.animation-wave > span::after,
.animation-wave > span::after,
.animation-wave > span > span::after {
  right: 0;
}
.animation-wave::before,
.animation-wave > span::before {
  animation-delay: 0;
  background-color: #007ac8;
}
.animation-wave > span::before,
.animation-wave > span > span::before {
  animation-delay: 0.25s;
  background-color: green;
}
.animation-wave > span::after,
.animation-wave > span > span::after {
  animation-delay: 0.5s;
  background-color: #ffe100;
}
.animation-wave::after,
.animation-wave > span::after {
  animation-delay: 0.75s;
  background-color: #FF0000;
}

.form-control.invalid-input {
  border-color: #FF0000;
}
.form-control.invalid-input:focus {
  border-color: #FF0000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.1764705882);
}
.form-control.invalid-input:focus-visible {
  border-color: #FF0000;
  outline: rgba(255, 0, 0, 0.1764705882);
}

@keyframes anim-wave {
  0% {
    top: 1px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: 1px;
  }
}
.sortable-menu {
  list-style-type: none;
  padding: 0;
}
.sortable-menu a {
  color: #555555;
  text-decoration: none;
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.sortable-menu .sortable-menu-item {
  margin: 10px 0;
  background-color: #f1f1f1;
  padding: 6px 8px;
  border-radius: 3px;
  position: relative;
}
.sortable-menu .sortable-menu-item .sortable-toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.sortable-menu .sortable-menu-item .sortable-toggle-icon::after {
  content: "▶";
  color: #555555;
}
.sortable-menu .sortable-menu-item.expanded .sortable-submenu {
  display: block;
}
.sortable-menu .sortable-menu-item.expanded .sortable-toggle-icon::after {
  content: "▼";
}
.sortable-menu .sortable-menu-item .sortable-submenu {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}
.sortable-menu .sortable-menu-item .sortable-submenu .sortable-submenu-item {
  margin: 5px 0;
  background-color: #e1e1e1;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: move;
  position: relative;
}
.sortable-menu .sortable-menu-item .sortable-submenu .sortable-submenu-item::after {
  content: "✥";
  cursor: move;
  top: 10px;
  right: 11px;
  position: absolute;
}
.sortable-menu .sortable-icon {
  cursor: pointer;
  margin-right: 2px;
  font-size: 10px;
  display: inline-block;
  width: 10px;
  text-align: center;
}
.sortable-menu .sortable-icon.icon-move::before {
  content: "✥";
  cursor: move;
}
.sortable-menu .sortable-icon.icon-move-up::before {
  content: "⬆️";
}
.sortable-menu .sortable-icon.icon-move-down::before {
  content: "⬇️";
}
.sortable-menu .sortable-icon.icon-edit {
  margin-right: 8px;
}
.sortable-menu .sortable-icon.icon-edit::before {
  content: "✏️";
}
.sortable-menu .sortable-menu-item > input.form-control,
.sortable-menu .sortable-submenu-item > input.form-control {
  display: inline;
  padding: 4px 7px;
}
.sortable-menu .sortable-menu-item > a,
.sortable-menu .sortable-submenu-item > a {
  padding: 5px 7px 0;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
}
.sortable-menu .sortable-menu-item > a,
.sortable-menu .sortable-menu-item input.form-control,
.sortable-menu .sortable-submenu-item > a,
.sortable-menu .sortable-submenu-item input.form-control {
  width: calc(100% - 80px);
  height: 30px;
  vertical-align: middle;
}

#query_to_execute {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  height: calc(100vh - 175px);
  max-height: calc(100vh - 175px);
  font-family: monospace;
  font-size: 0.95rem;
}

.nonfile-base, .file-base {
  display: none;
}

.nonfile-base[data-current-database-type=nonfile-base], .file-base[data-current-database-type=file-base] {
  display: table-row;
}

input[type=number][name=database_port]::-webkit-inner-spin-button,
input[type=number][name=database_port]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number][name=database_port] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.tooltip {
  position: absolute;
  padding: 5px 12px;
  background-color: rgba(0, 0, 0, 0.7529411765);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  height: 30px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 10px;
}

/* Overlay background to dim the screen behind the modal */
.alertOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1199;
}

#customAlert {
  z-index: 1200;
}

.modal-dialog.modal-fullscreen {
  width: calc(100vw - 2rem);
  max-width: calc(100vw - 2rem);
}
.modal-dialog.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal-dialog.modal-fullscreen .modal-body .database-explorer {
  max-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
}

.database-explorer {
  position: relative;
  height: calc(100vh - 100px);
}
.database-explorer iframe {
  border: none;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.input-label {
  padding-bottom: 2px;
}/*# sourceMappingURL=css.css.map */