@charset "UTF-8";
:root {
  font-size: 13px;
}

h4, .h4 {
  font-size: 1.2rem;
}

.modal-body h4 {
  margin-top: 1.2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

.all {
  padding: 16px;
}

.main-table {
  border-collapse: collapse;
  border-color: #6e6e6e;
}
.main-table td {
  padding: 4px;
  border-color: #6e6e6e;
}
.main-table td select {
  width: 100%;
  box-sizing: border-box;
}
.main-table td input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
.main-table thead td {
  font-weight: bold;
}
.main-table thead td.data-sort {
  cursor: move;
  width: 24px;
}
.main-table tbody td.data-sort {
  cursor: move;
}
.main-table tbody td.data-sort::before {
  content: "⠿";
  color: #333333;
  font-size: 16px;
  margin-left: -4px;
}
.main-table tbody tr:hover td {
  background-color: #E8E8EE;
}
.main-table tbody tr > td:nth-child(1) {
  padding-left: 10px;
}
.main-table tbody tr > td .btn {
  margin-bottom: 0px;
  margin-top: 1px;
}
.main-table tbody tr > td .btn.button-format-data {
  display: none;
}
.main-table tbody tr[data-element-type=text][data-include-detail=true] td .btn.button-format-data, .main-table tbody tr[data-element-type=text][data-include-list=true] td .btn.button-format-data, .main-table tbody tr[data-element-type=select][data-include-detail=true] td .btn.button-format-data, .main-table tbody tr[data-element-type=select][data-include-list=true] td .btn.button-format-data {
  display: inline-block;
}
.main-table tr td button.reference-button {
  display: none;
}

form {
  margin: 0;
  padding: 0;
}

.form-control-container {
  line-height: 38px;
}
.form-control-container .btn {
  margin-bottom: 0;
}

input {
  margin: 0;
}

select {
  margin: 0;
}

button {
  margin: 0;
}

.database-info {
  padding: 0 0 4px 0;
}

.info-cell {
  display: inline-block;
  padding-right: 20px;
}

.text-code {
  box-sizing: border-box;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333333;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
  resize: vertical;
}

.ui-tabs .ui-tabs-panel {
  padding: 10px;
}

.define-wrapper {
  display: none;
}

.button-area {
  padding-top: 8px;
}

.code-area {
  margin: -10px -10px -11px -10px;
  display: none;
}

.desc {
  line-height: 1.5;
}

.reserved .field-name {
  color: #bf0101;
}

.tab-content {
  padding-top: 20px;
}

.btn {
  margin-top: -3px;
  margin-bottom: 8px;
}

.config-table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto 0 auto;
}
.config-table td {
  padding: 4px 0;
}
.config-table td .btn {
  margin-bottom: 8px;
}
.config-table td label {
  margin-bottom: 0px;
}
.config-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 200px;
}

td .btn.btn-remove-row, td .btn.btn-move-up, td .btn.btn-move-down, td .btn.path-remover, td .btn.language-remover {
  margin-bottom: 0;
}

.modal-header {
  padding: 0.6rem 1rem;
}
.modal-header .close {
  margin: -0.75rem -1rem -1rem auto;
}

.modal-footer {
  padding: 1rem 0.75rem 0.75rem;
}

.modal-md .config-table,
.modal-sm .config-table {
  width: 100%;
  max-width: 800px;
  margin: auto;
}
.modal-md .config-table td,
.modal-sm .config-table td {
  padding: 4px 0;
}
.modal-md .config-table td.paths, .modal-md .config-table td.languages,
.modal-sm .config-table td.paths,
.modal-sm .config-table td.languages {
  position: relative;
}
.modal-md .config-table td.paths table, .modal-md .config-table td.languages table,
.modal-sm .config-table td.paths table,
.modal-sm .config-table td.languages table {
  width: 100%;
  box-sizing: border-box;
}
.modal-md .config-table td.paths table tr td, .modal-md .config-table td.languages table tr td,
.modal-sm .config-table td.paths table tr td,
.modal-sm .config-table td.languages table tr td {
  padding: 4px 3px;
}
.modal-md .config-table td.paths table tr td:nth-child(1), .modal-md .config-table td.languages table tr td:nth-child(1),
.modal-sm .config-table td.paths table tr td:nth-child(1),
.modal-sm .config-table td.languages table tr td:nth-child(1) {
  padding-left: 0;
}
.modal-md .config-table td.paths table tr td:nth-child(4), .modal-md .config-table td.languages table tr td:nth-child(4),
.modal-sm .config-table td.paths table tr td:nth-child(4),
.modal-sm .config-table td.languages table tr td:nth-child(4) {
  padding-right: 0;
}
.modal-md .config-table td.paths table tbody tr td input[type=text], .modal-md .config-table td.languages table tbody tr td input[type=text],
.modal-sm .config-table td.paths table tbody tr td input[type=text],
.modal-sm .config-table td.languages table tbody tr td input[type=text] {
  width: 100%;
  box-sizing: border-box;
}
@media screen and (max-width: 600px) {
  .modal-md .config-table td.paths .modal-md .config-table > tbody > tr > td, .modal-md .config-table td.languages .modal-md .config-table > tbody > tr > td,
  .modal-sm .config-table td.paths .modal-md .config-table > tbody > tr > td,
  .modal-sm .config-table td.languages .modal-md .config-table > tbody > tr > td {
    width: 100%;
    display: block;
  }
}
.modal-md .config-table tbody > tr:nth-child(1) > td:nth-child(1),
.modal-sm .config-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 35%;
}
.modal-md .config-table.config-language-table tbody > tr:nth-child(1) > td:nth-child(1),
.modal-sm .config-table.config-language-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 25%;
}
.modal-md .config-table.config-language-table tbody > tr td .language-manager tbody > tr:nth-child(1) > td:nth-child(1),
.modal-sm .config-table.config-language-table tbody > tr td .language-manager tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 45%;
}

.modal-table {
  width: 100%;
  margin: auto;
}
.modal-table td {
  padding: 4px 0;
}
.modal-table tbody > tr:nth-child(1) > td:nth-child(1) {
  width: 170px;
}
.modal-table .table.table-reference tbody > tr:nth-child(1) > td:nth-child(1) {
  width: auto;
}

table.table.table-reference td {
  padding: 5px 4px;
}
table.table.table-reference tr > td:first-child {
  padding: 5px 2px 5px 0;
}
table.table.table-reference tr > td:last-child {
  padding: 5px 0px 5px 2px;
}

.map-section {
  display: none;
}

.display-reference {
  display: none;
}

[data-reference-type=data] .display-reference {
  display: table-row;
}

.entity-list ul, .validator-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  margin-bottom: 10px;
}
.entity-list ul li, .validator-list ul li {
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.entity-list > div, .validator-list > div {
  height: calc(100vh - 146px);
  overflow-x: auto;
}

.erd-image {
  height: calc(100vh - 188px);
  overflow-x: auto;
  overflow-y: auto;
}

.diagram-option {
  padding-bottom: 10px;
  line-height: 35px;
}

.diagram-option .form-control {
  display: inline;
  width: 68px;
  padding-left: 8px;
  padding-right: 6px;
}

.diagram-option .form-control[name=maximum_level],
.diagram-option .form-control[name=maximum_column] {
  width: 60px;
}

.module-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  margin-bottom: 10px;
}
.module-list ul li {
  white-space: nowrap;
  position: relative;
  padding-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
}
.module-list > div {
  height: calc(100vh - 146px);
  overflow-x: auto;
}

.column-body {
  position: relative;
}

.app-code {
  padding: 20px;
  font-family: "Courier New", Courier, monospace;
  border: 1px solid #DDD;
  background-color: #FAFAFA;
  overflow: auto;
  display: block;
  width: calc(100% - 400px);
  height: calc(100vh - 184px);
}

.tabs .tab-content > .tab-pane {
  transition: opacity 0.01s ease 0s;
}

.selected-file::after {
  content: "✓";
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  position: absolute;
  right: 10px;
  top: 2px;
}

li.file-syntax-error {
  color: #DD0000;
}
li.file-syntax-error a {
  color: #DD0000;
}

.accordion .btn {
  margin-top: 0;
  margin-bottom: 0;
}
.accordion .card-header button.btn {
  display: block;
  width: 100%;
  box-sizing: border-box;
  text-align: left;
  padding-left: 0;
}
.accordion .card-header button.btn:focus {
  outline: none;
  box-shadow: none;
}
.accordion .card-header button.btn:focus-visible {
  outline: none;
  box-shadow: none;
}
.accordion .card:first-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.accordion .card:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}

.collapsible-card .card:first-child {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom: none;
}
.collapsible-card .card:last-child {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom: 1px solid #dddddd;
}

.column-title {
  height: 48px;
}

.highlight-line {
  background-color: #e8f2ff;
}

#modal-create-reference-data .modal-dialog {
  transition: max-width ease-in-out 0.24s;
}

.input-invalid-value {
  color: #c11515;
  border-color: #b92525;
}

.input-invalid-value:focus {
  color: #c11515;
  background-color: #fff;
  border-color: #b92525;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(168, 54, 54, 0.1215686275);
}

.target-language,
.filter-translate {
  display: inline;
  width: auto;
}

.table-reference-container {
  overflow-x: auto;
}

.reference-selector {
  padding: 2px 0px 10px 0px;
}

.application-container,
.workspace-container {
  padding-left: 0;
  padding-right: 0;
}
.application-container .card .card-text,
.workspace-container .card .card-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  min-height: 40px;
}

.workspace-item[data-selected=true], .application-item[data-selected=true] {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}
.workspace-item .card-body .card-title, .application-item .card-body .card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.table td,
.table th {
  padding: 0.4rem 0.5rem;
}

h3.entity-table-name {
  font-size: 1rem;
  font-weight: bold;
}

.main-menu {
  margin-bottom: 20px;
}

.workspace-card > div,
.application-card > div {
  margin-bottom: 1rem;
}
.workspace-card .card-body,
.application-card .card-body {
  padding-bottom: 0.8rem;
}
.workspace-card .card-body .btn,
.application-card .card-body .btn {
  margin-bottom: 0.45rem;
}

.card-header {
  padding: 0.2rem 1.25rem;
}

.entity-table-container {
  overflow-x: auto;
}

.table.entity-table thead td {
  font-weight: bold;
}

.CodeMirror-lines {
  padding-left: 0.5rem;
}

.CodeMirror-linenumber {
  left: -0.5em !important;
}

.CodeMirror {
  line-height: 1.6;
  height: calc(100vh - 184px);
}

.CodeMirror-linebackground {
  margin-left: -0.5rem;
  margin-right: -0.5rem;
  width: calc(100% + 1rem);
}

.entity-column-selected {
  background-color: #e8faff;
}

.entity-column-primary-key {
  background-color: #FDF3F3;
}

.form-control.invalid-input {
  border-color: #FF0000;
}
.form-control.invalid-input:focus {
  border-color: #FF0000;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.1764705882);
}
.form-control.invalid-input:focus-visible {
  border-color: #FF0000;
  outline: rgba(255, 0, 0, 0.1764705882);
}

@keyframes anim-wave {
  0% {
    top: 1px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: 1px;
  }
}
.sortable-menu {
  list-style-type: none;
  padding: 0;
}
.sortable-menu a {
  color: #555555;
  text-decoration: none;
  display: inline-block;
  padding: 2px 4px;
  border: 1px solid transparent;
  border-radius: 3px;
}
.sortable-menu .sortable-menu-item {
  margin: 10px 0;
  background-color: #f1f1f1;
  padding: 6px 8px;
  border-radius: 3px;
  position: relative;
}
.sortable-menu .sortable-menu-item .sortable-toggle-icon {
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 10px;
}
.sortable-menu .sortable-menu-item .sortable-toggle-icon::after {
  content: "▶";
  color: #555555;
}
.sortable-menu .sortable-menu-item.expanded .sortable-submenu {
  display: block;
}
.sortable-menu .sortable-menu-item.expanded .sortable-toggle-icon::after {
  content: "▼";
}
.sortable-menu .sortable-menu-item .sortable-submenu {
  list-style-type: none;
  padding-left: 20px;
  display: none;
}
.sortable-menu .sortable-menu-item .sortable-submenu .sortable-submenu-item {
  margin: 5px 0;
  background-color: #e1e1e1;
  padding: 4px 8px;
  border-radius: 3px;
  cursor: move;
  position: relative;
}
.sortable-menu .sortable-menu-item .sortable-submenu .sortable-submenu-item::after {
  content: "✥";
  cursor: move;
  top: 10px;
  right: 11px;
  position: absolute;
}
.sortable-menu .sortable-icon {
  cursor: pointer;
  margin-right: 2px;
  font-size: 10px;
  display: inline-block;
  width: 10px;
  text-align: center;
}
.sortable-menu .sortable-icon.icon-move::before {
  content: "✥";
  cursor: move;
}
.sortable-menu .sortable-icon.icon-move-up::before {
  content: "⬆️";
}
.sortable-menu .sortable-icon.icon-move-down::before {
  content: "⬇️";
}
.sortable-menu .sortable-icon.icon-edit {
  margin-right: 8px;
}
.sortable-menu .sortable-icon.icon-edit::before {
  content: "✏️";
}
.sortable-menu .sortable-menu-item > input.form-control,
.sortable-menu .sortable-submenu-item > input.form-control {
  display: inline;
  padding: 4px 7px;
}
.sortable-menu .sortable-menu-item > a,
.sortable-menu .sortable-submenu-item > a {
  padding: 5px 7px 0;
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 3px;
}
.sortable-menu .sortable-menu-item > a,
.sortable-menu .sortable-menu-item input.form-control,
.sortable-menu .sortable-submenu-item > a,
.sortable-menu .sortable-submenu-item input.form-control {
  width: calc(100% - 80px);
  height: 30px;
  vertical-align: middle;
}

#query_to_execute {
  width: 100%;
  padding: 10px;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  height: calc(100vh - 175px);
  max-height: calc(100vh - 175px);
  font-family: monospace;
  font-size: 0.95rem;
}

.nonfile-base,
.file-base {
  display: none;
}

.nonfile-base[data-current-database-type=nonfile-base],
.file-base[data-current-database-type=file-base] {
  display: table-row;
}

input[type=number][name=database_port]::-webkit-inner-spin-button,
input[type=number][name=database_port]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number][name=database_port] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

.tooltip {
  position: absolute;
  padding: 5px 12px;
  background-color: rgba(0, 0, 0, 0.7529411765);
  color: #fff;
  border-radius: 3px;
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s;
  pointer-events: none;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.tooltip.visible {
  visibility: visible;
  opacity: 1;
}

.tooltip.multiline {
  padding-top: 14px;
  padding-bottom: 14px;
  height: auto !important;
}
.tooltip.multiline .horizontal-line {
  border-top: 1px solid #262626;
  border-bottom: 1px solid #535353;
  height: 1px;
  margin-top: 4px;
}
.tooltip.multiline table tr td {
  white-space: nowrap;
  font-size: 0.82rem;
  line-height: 0.85;
}
.tooltip.multiline table tr td[colspan="2"] {
  text-align: center;
  padding: 4px 0 2px 0;
  font-weight: bold;
}
.tooltip.multiline table tr > td:first-child {
  padding-right: 5px;
}

.tooltip-top {
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 10px;
}

.tooltip-right {
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
  margin-left: 10px;
}

.tooltip-bottom {
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px;
}

.tooltip-left {
  top: 50%;
  right: 100%;
  transform: translateY(-50%);
  margin-right: 10px;
}

/* Overlay background to dim the screen behind the modal */
.alertOverlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1199;
}

#customAlert {
  z-index: 1200;
}

.modal-dialog.modal-fullscreen {
  width: calc(100vw - 2rem);
  max-width: calc(100vw - 2rem);
}
.modal-dialog.modal-fullscreen .modal-body {
  overflow-y: auto;
}
.modal-dialog.modal-fullscreen .modal-body .database-explorer {
  max-height: calc(100vh - 120px);
  height: calc(100vh - 120px);
}

.database-explorer {
  position: relative;
  height: calc(100vh - 100px);
}

.input-label {
  padding-top: 2px;
  padding-bottom: 2px;
}

.input-description {
  padding-top: 4px;
}

.nav-tabs a.nav-link {
  color: #000000;
}

.toast-container {
  right: 0;
  bottom: 20px;
}

.toast {
  right: 0;
  bottom: 0;
}

.status-bar-container {
  bottom: 0;
  right: 0;
  box-sizing: border-box;
}

.status-bar {
  display: inline-block;
  vertical-align: bottom;
}

.ajax-pending {
  background-color: #007ac8;
  height: 10px;
  width: 0px;
  transition: width ease-in-out 0.1s;
}

#search-application.form-control,
#search-workspace.form-control {
  width: 200px;
  display: inline-block;
}

[data-admin-level-id=superuser] .level-user {
  display: none;
}

[data-admin-level-id=user] .level-superuser {
  display: none;
}

[data-group-source=entity] .source-map {
  display: none;
}

[data-group-source=map] .source-entity {
  display: none;
}

.table.table-reference td .btn {
  margin-top: 0px;
}

.fade {
  transition: opacity 0.05s linear;
}

.btn-group-tn > .btn,
.btn-tn {
  padding: 0.2rem 0.4rem;
  font-size: 0.75rem;
  line-height: 1.5;
  border-radius: 0.2rem;
}

p {
  margin-bottom: 0.75rem;
}

.modal-body td > input[type=checkbox] {
  margin-top: 8px;
}

.input-with-checker .form-control {
  padding-right: 2.5rem;
}

.input-with-checker {
  position: relative;
  display: inline-block;
  width: 100%;
}

.input-with-checker::after {
  content: "";
  position: absolute;
  text-align: right;
  width: 1.75rem;
  height: 1.5rem;
  right: 0.5rem;
  top: 0.5rem;
}

.input-with-checker[data-valid=true]::after {
  content: "✓";
  color: green;
  font-size: 1.2rem;
}

.input-with-checker[data-valid=false]::after {
  content: "✗";
  color: red;
  font-size: 1.2rem;
}

.input-with-checker[data-loading=true]::after {
  content: "•••";
  color: green;
  font-size: 1.5rem;
  animation: blink 1s infinite;
  white-space: nowrap;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}
.column-container {
  position: absolute;
  width: calc(100% - 196px);
  z-index: 1;
  display: none;
  box-sizing: border-box;
}

[data-focus=true] .column-container {
  display: block;
  max-height: 300px;
  overflow: auto;
}

.column-container ul {
  max-height: 400px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
}

.column-container ul li {
  margin: 0;
  padding: 0;
}

.column-container ul li a {
  display: block;
  padding: 4px 10px;
  border: 1px solid #dddddd;
  border-top: none;
  text-decoration: none;
  color: #555555;
  background-color: #FFFFFF;
  position: relative;
}

.column-container ul li:first-child a {
  border-top: 1px solid #dddddd;
}

.column-container ul li a:hover {
  background-color: #f8f8f8;
  color: #333333;
}

.column-container ul li a.column-selected {
  background-color: #f8f8f8;
}

.column-container ul li a.column-selected::after {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #555555;
  position: absolute;
  right: 9px;
  top: 11px;
}

/* File Manager Styles */
#file-content, #frame-viewer {
  width: 100%;
  height: calc(100vh - 120px);
  max-height: calc(100vh - 120px);
  overflow: auto;
  position: relative;
}
#file-content iframe, #frame-viewer iframe {
  border: none;
  width: 100%;
  max-height: calc(100vh - 120px);
  margin: 0;
  padding: 0;
  display: block !important;
}
#file-content iframe.video-frame, #file-content iframe.video-frame, #frame-viewer iframe.video-frame, #frame-viewer iframe.video-frame {
  height: calc(100vh - 120px);
}
#file-content iframe.audio-frame, #frame-viewer iframe.audio-frame {
  max-height: 50px;
  height: 50px;
}

.image-mode, .database-mode, .document-mode, .frame-mode {
  display: none;
  width: calc(100% - 16px);
}

#sqlite-table-sidebar {
  width: 200px;
  border-right: 1px solid #ccc;
  overflow-y: auto;
  position: absolute;
  height: 100%;
  box-sizing: border-box;
}

#sqlite-table-main {
  margin-left: 200px;
  margin-right: 0px;
  padding: 0px 10px 10px 10px;
  flex-grow: 1;
  box-sizing: border-box;
  width: calc(100% - 200px);
}

#sqlite-output {
  padding-right: 20px;
  padding-bottom: 30px;
  width: 100%;
  box-sizing: border-box;
}

#sqlite-output,
#selected-data,
#sqlite-table-container {
  height: calc(100vh - 195px);
  overflow: auto;
}

.data-column {
  margin-bottom: 5px;
}
.data-column input[type=text],
.data-column textarea {
  width: 100%;
  margin-top: 4px;
}

#sqlite-table-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#sqlite-table-list li {
  padding: 5px 8px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#sqlite-table-list li.highlight {
  background-color: #eeeeee;
}
#sqlite-table-list li a {
  color: #222222;
  text-decoration: none;
}

.sqlite-header-section {
  padding: 16px 0px 20px 0px;
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 10px;
  height: 48px;
  box-sizing: border-box;
}

table.sqlite-table-data {
  border-collapse: collapse;
  width: auto;
  min-width: 600px;
}
table.sqlite-table-data th,
table.sqlite-table-data td {
  border: 1px solid #ccc;
  padding: 5px 8px;
  text-align: left;
  white-space: nowrap;
}

#sqlite-table-list li a.sqlite-table-content {
  display: inline-block;
  width: calc(100% - 20px);
}

.file-manager-left-panel {
  padding: 10px 10px 0 16px;
  overflow-y: auto;
}

.file-manager-right-panel {
  padding: 10px 0 0 10px;
  overflow-y: auto;
}

h3 {
  margin: 0;
  padding: 4px 0;
  font-size: 16px;
}

#dir-tree {
  list-style-type: none;
  padding: 0px;
  margin: 0;
  width: 100%;
  height: calc(100vh - 118px);
  box-sizing: border-box;
  overflow: auto;
}
#dir-tree > li {
  margin: 0;
  list-style-type: none;
  white-space: nowrap;
}
#dir-tree li ul {
  margin: 0;
  padding: 0px 0px 0px 10px;
}
#dir-tree li ul li {
  padding: 0;
  margin: 0;
  margin-left: 10px;
  list-style-type: none;
  white-space: nowrap;
}
#dir-tree span {
  white-space: nowrap;
}

.image-mode {
  display: none;
}

li[data-type=dir], li[data-type=file] {
  cursor: pointer;
}

/* Folder closed state */
li[data-type=dir] > span::before, li[data-type=dir][data-open=false] > span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f07b"; /* Unicode character for folder (closed) */
  display: inline-block;
  width: 20px;
  color: #FFC107;
}

/* Folder open state */
li[data-type=dir][data-open=true] > span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f07c"; /* Unicode character for folder (open) */
  display: inline-block;
  width: 20px;
  color: #FFC107;
}

/* File state */
li[data-type=file] > span::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 12px;
  content: "\f15b"; /* Unicode character for document */
  display: inline-block;
  width: 20px;
  color: #007cff;
}

li[data-type=dir][data-open=true] > ul {
  display: block;
}

li[data-type=dir] > ul, li[data-type=dir][data-open=true][data-loading=true] > ul {
  display: none;
}

li[data-type=dir] > ul:empty {
  display: none;
}

li[data-type=dir][data-loading=true]::after {
  content: "•••";
  color: green;
  font-size: 1.2rem;
  animation: blink 1s infinite;
  white-space: nowrap;
  line-height: 4px;
  vertical-align: middle;
  margin-left: 4px;
}

textarea {
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #cccccc;
}
textarea:focus-visible {
  outline: none;
}

/* Optional styling for the path-bar container */
.path-bar {
  margin-bottom: 10px;
}

/* Optional margin between buttons */
.path-bar .btn {
  margin-left: 10px;
  margin-bottom: 0;
  margin-top: 0;
}

/* Ensure buttons don't get too big */
.path-bar .file-path {
  flex-grow: 1;
}

.root-directory {
  cursor: pointer;
}

.text-mode {
  padding-right: 1rem;
}

.waiting-screen {
  display: none;
}

.back-screen {
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}

.waiting-screen-inner {
  position: absolute;
  z-index: 1;
  width: 280px;
  height: 80px;
  left: calc(50% - 140px);
  top: calc(50% - 40px);
  background-color: #FFFFFF;
  border: 4px solid rgba(0, 0, 0, 0.33);
  border-radius: 10px;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
}

.waiting-screen-inner span.animation-wave {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin-top: 14px;
}

.anim-container {
  margin-top: 5px;
  align-items: center;
  display: inline-block;
  width: 240px;
  height: 56px;
  position: relative;
}

.anim-folder {
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: 2;
}

.anim-folder1, .anim-folder2 {
  top: 20px;
}

.anim-folder1 {
  left: 0;
}

.anim-folder2 {
  left: 200px;
}

.anim-folder-icon {
  font-size: 32px;
}

.anim-file1, .anim-file2, .anim-file3, .anim-file4 {
  position: absolute;
  font-size: 20px;
  top: 15px;
  left: 10px;
  animation: moveFile1 1s infinite;
}

.anim-file1 {
  animation-delay: 0s;
}

.anim-file2 {
  animation-delay: 0.25s;
}

.anim-file3 {
  animation-delay: 0.5s;
}

.anim-file4 {
  animation-delay: 0.75s;
}

@keyframes moveFile1 {
  0% {
    transform: translateX(0) translateY(0px);
    opacity: 1;
  }
  10% {
    transform: translateX(0px) translateY(-16px);
  }
  40% {
    transform: translateX(200px) translateY(-16px);
    opacity: 1;
  }
  79.99% {
    transform: translateX(200px) translateY(0px);
    opacity: 1;
  }
  89.99% {
    transform: translateX(200px) translateY(0px);
    opacity: 1;
  }
  90% {
    opacity: 0;
  }
  90.01% {
    transform: translateX(0) translateY(0px);
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.card-body .nav .nav-item .nav {
  margin-left: 20px;
}

li.menu-exists > a::after {
  content: "✓"; /* Unicode character for check mark */
  display: inline-block;
  width: 20px;
  height: 20px;
  color: green;
  margin-left: 10px;
}

.module-translation-status, .entity-translation-status {
  margin-left: 5px;
}

.language-manager .btn, .path-manager .btn, .config-table .path-manager .btn, .config-table .language-manager .btn {
  margin: 0;
}

.nav .fa::before, .nav .fa::after, .nav .fa-brands::before, .nav .fa-brands::after, .nav .fa-classic::before, .nav .fa-classic::after, .nav .fa-regular::before, .nav .fa-regular::after, .nav .fa-sharp::before, .nav .fa-sharp::after, .nav .fa-solid::before, .nav .fa-solid::after, .nav .fab::before, .nav .fab::after, .nav .far::before, .nav .far::after, .nav .fas::before, .nav .fas::after {
  width: 20px;
  text-align: center;
}

.application-setting #accordion-setting #collapse3 .card-body {
  max-height: 400px;
  overflow-y: auto;
}

.modal .json-output {
  max-height: 160px;
  overflow: auto;
  border: 1px solid #dddddd;
  padding: 16px;
}
.modal .field-validations {
  border: 1px solid #dee2e6;
  border-radius: 3px;
  padding: 5px 12px;
  margin-bottom: 1rem;
}

.main-table tbody tr[data-has-validation=true] .validation-button::before {
  font-family: "Font Awesome 6 Free";
  content: "\f14a"; /* fa-check-square */
  margin-right: 0.5em;
}

.main-table tbody tr[data-has-validation=false] .validation-button::before {
  font-family: "Font Awesome 6 Free";
  content: "\f0c8"; /* fa-square */
  margin-right: 0.5em;
}

.column-body li a[data-error=true] {
  color: red;
}

table.table.table-enum {
  margin-bottom: 0;
}
table.table.table-enum tr > td:first-child {
  padding: 0px 2px 0px 0;
}
table.table.table-enum tr > td:last-child {
  padding: 3px 0 0px 5px;
}

.application-icon-preview {
  margin-bottom: 0.75rem;
}

.table-row-container {
  overflow: auto;
  max-height: 300px;
}
.table-row-container table td, .table-row-container table th {
  white-space: nowrap;
}

#document-viewer {
  height: calc(100vh - 120px);
  overflow: auto;
  position: relative;
  padding-top: 10px;
}
#document-viewer #sheet-viewer {
  max-height: calc(100% - 54px);
  overflow: auto;
  box-sizing: border-box;
}
#document-viewer #sheet-viewer table {
  border: 1px solid #dddddd;
  border-collapse: collapse;
}
#document-viewer #sheet-viewer table th, #document-viewer #sheet-viewer table td {
  padding: 5px 8px;
  border: 1px solid #dddddd;
}

.animation-wave, .animation-wave > span {
  position: relative;
  display: inline-block;
  height: 12px;
  line-height: 1;
}

.animation-wave > span {
  vertical-align: top;
  padding: 0px 8px;
}

.animation-wave {
  padding: 0px 10px;
}

.animation-wave::before, .animation-wave::after, .animation-wave > span::before, .animation-wave > span::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  animation-name: anim-wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.animation-wave::before, .animation-wave > span::before {
  left: 0;
}

.animation-wave::after, .animation-wave > span::after {
  right: 0;
}

.animation-wave::before {
  animation-delay: 0;
  background-color: #007ac8;
}

.animation-wave > span::before {
  animation-delay: 0.25s;
  background-color: green;
}

.animation-wave > span::after {
  animation-delay: 0.5s;
  background-color: #ffe100;
}

.animation-wave::after {
  animation-delay: 0.75s;
  background-color: #FF0000;
}

@keyframes anim-wave {
  0% {
    top: 1px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: 1px;
  }
}
/* Basic styling for the menu list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Context Menu Styles */
.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
  overflow: visible !important;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.context-menu ul li {
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s;
}

.context-menu ul li a {
  display: block;
  color: #555555;
  padding: 5px 10px 5px 10px;
}

.context-menu ul li ul {
  padding: 5px;
}
.context-menu ul li ul li {
  padding: 5px 10px;
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}

.container-file-manager {
  /* Styling for icons using pseudo-elements */
  /* Icon for 'open' operation (Green) */
  /* Icon for 'rename' operation (Orange) */
  /* Icon for 'download' operation (Blue) */
  /* Icon for 'delete' operation (Red) */
  /* Icon for 'new' operation (Purple) */
  /* Icon for 'new-dir' operation (Yellow) */
  /* Icon for 'upload' operation (Green for upload) */
  /* Icon for 'reset' operation (Gray for Reset Content) */
}
.container-file-manager .context-menu ul li {
  padding: 5px 10px 5px 10px;
}
.container-file-manager .context-menu li::before {
  content: ""; /* Default content */
  display: inline-block;
  margin-right: 6px; /* Space between icon and text */
  color: inherit; /* Inherit color from the parent li */
  font-size: 12px;
  vertical-align: top;
  font-family: "Font Awesome 5 Free"; /* NOSONAR */
  font-weight: 900;
  width: 12px;
}
.container-file-manager .context-menu [data-operation=open]::before {
  content: "\f06e"; /* Font Awesome icon for file (open) */
  color: #4CAF50; /* Green for open */
}
.container-file-manager .context-menu [data-operation=rename]::before {
  content: "\f044"; /* Font Awesome icon for pencil (rename) */
  color: #FF9800; /* Orange for rename */
}
.container-file-manager .context-menu [data-operation=download]::before, .container-file-manager .context-menu [data-operation=compress]::before, .container-file-manager .context-menu [data-operation=root-dowload]::before {
  content: "\f019"; /* Font Awesome icon for download */
  color: #2196F3; /* Blue for download */
}
.container-file-manager .context-menu [data-operation=delete]::before {
  content: "\f1f8"; /* Font Awesome icon for trash (delete) */
  color: #F44336; /* Red for delete */
}
.container-file-manager .context-menu [data-operation=new-file]::before, .container-file-manager .context-menu [data-operation=root-new-file]::before {
  content: "\f15b"; /* Font Awesome icon for file (new) */
  color: #007cff; /* Blue for new */
}
.container-file-manager .context-menu [data-operation=new-dir]::before, .container-file-manager .context-menu [data-operation=root-new-dir]::before {
  content: "\f114"; /* Font Awesome icon for folder (new directory) */
  color: #FFC107; /* Yellow for new directory */
}
.container-file-manager .context-menu [data-operation=upload-file]::before {
  content: "\f093"; /* Font Awesome icon for upload */
  color: #4CAF50; /* Green for upload */
}
.container-file-manager .context-menu [data-operation=reset]::before, .container-file-manager .context-menu [data-operation=refresh-dir]::before {
  content: "\f021"; /* Font Awesome icon for refresh (reset) */
  color: #2196F3; /* Blue for reset */
}

.context-menu .dropdown-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e9ecef;
}/*# sourceMappingURL=css.css.map */