@charset "UTF-8";
/* Basic styling for the menu list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

/* Context Menu Styles */
.context-menu {
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  width: 180px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Add transition for hover effect */
  overflow: visible !important;
}

.context-menu ul {
  list-style: none;
  margin: 0;
  padding: 5px;
}

.context-menu ul li {
  padding: 0;
  cursor: pointer;
  transition: background-color 0.2s;
  white-space: nowrap;
}

.context-menu ul li a {
  display: block;
  color: #555555;
  padding: 5px 10px 5px 10px;
}

.context-menu ul li ul {
  padding: 5px;
}
.context-menu ul li ul li {
  padding: 5px 10px;
}

.context-menu ul li:hover {
  background-color: #f0f0f0;
}

.container-file-manager {
  /* Styling for icons using pseudo-elements */
  /* Icon for 'open' operation (Green) */
  /* Icon for 'rename' operation (Orange) */
  /* Icon for 'download' operation (Blue) */
  /* Icon for 'delete' operation (Red) */
  /* Icon for 'new' operation (Purple) */
  /* Icon for 'new-dir' operation (Yellow) */
  /* Icon for 'upload' operation (Green for upload) */
  /* Icon for 'reset' operation (Gray for Reset Content) */
  /* Icon for 'view-image' operation (Teal for image preview) */
}
.container-file-manager .context-menu ul li {
  padding: 5px 10px 5px 10px;
}
.container-file-manager .context-menu li::before {
  content: ""; /* Default content */
  display: inline-block;
  margin-right: 6px; /* Space between icon and text */
  color: inherit; /* Inherit color from the parent li */
  font-size: 12px;
  vertical-align: top;
  font-family: "Font Awesome 5 Free"; /* NOSONAR */
  font-weight: 900;
  width: 12px;
}
.container-file-manager .context-menu [data-operation=open]::before {
  content: "\f06e"; /* Font Awesome icon for file (open) */
  color: #4CAF50; /* Green for open */
}
.container-file-manager .context-menu [data-operation=rename]::before {
  content: "\f044"; /* Font Awesome icon for pencil (rename) */
  color: #FF9800; /* Orange for rename */
}
.container-file-manager .context-menu [data-operation=download]::before, .container-file-manager .context-menu [data-operation=compress]::before, .container-file-manager .context-menu [data-operation=root-dowload]::before {
  content: "\f019"; /* Font Awesome icon for download */
  color: #2196F3; /* Blue for download */
}
.container-file-manager .context-menu [data-operation=delete]::before {
  content: "\f1f8"; /* Font Awesome icon for trash (delete) */
  color: #F44336; /* Red for delete */
}
.container-file-manager .context-menu [data-operation=new-file]::before, .container-file-manager .context-menu [data-operation=root-new-file]::before {
  content: "\f15b"; /* Font Awesome icon for file (new) */
  color: #007cff; /* Blue for new */
}
.container-file-manager .context-menu [data-operation=new-dir]::before, .container-file-manager .context-menu [data-operation=root-new-dir]::before {
  content: "\f114"; /* Font Awesome icon for folder (new directory) */
  color: #FFC107; /* Yellow for new directory */
}
.container-file-manager .context-menu [data-operation=upload-file]::before {
  content: "\f093"; /* Font Awesome icon for upload */
  color: #4CAF50; /* Green for upload */
}
.container-file-manager .context-menu [data-operation=reset]::before, .container-file-manager .context-menu [data-operation=refresh-dir]::before {
  content: "\f021"; /* Font Awesome icon for refresh (reset) */
  color: #2196F3; /* Blue for reset */
}
.container-file-manager .context-menu [data-operation=view-image]::before {
  content: "\f03e"; /* Font Awesome icon for image */
  color: #009688; /* Teal for image preview */
}

.context-menu .dropdown-divider {
  height: 1px;
  margin: 4px 0;
  overflow: hidden;
  background-color: #e9ecef;
}

.animation-wave, .animation-wave > span {
  position: relative;
  display: inline-block;
  height: 12px;
  line-height: 1;
}

.animation-wave > span {
  vertical-align: top;
  padding: 0px 8px;
}

.animation-wave {
  padding: 0px 10px;
}

.animation-wave::before, .animation-wave::after, .animation-wave > span::before, .animation-wave > span::after {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  animation-name: anim-wave;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
}

.animation-wave::before, .animation-wave > span::before {
  left: 0;
}

.animation-wave::after, .animation-wave > span::after {
  right: 0;
}

.animation-wave::before {
  animation-delay: 0;
  background-color: #007ac8;
}

.animation-wave > span::before {
  animation-delay: 0.25s;
  background-color: green;
}

.animation-wave > span::after {
  animation-delay: 0.5s;
  background-color: #ffe100;
}

.animation-wave::after {
  animation-delay: 0.75s;
  background-color: #FF0000;
}

@keyframes anim-wave {
  0% {
    top: 1px;
  }
  50% {
    top: 7px;
  }
  100% {
    top: 1px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  min-height: 100vh;
  font-size: 0.85rem;
}

a {
  text-decoration: none;
  color: #1c73cf;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  padding: 16px;
  height: 100vh;
  overflow-y: auto;
  position: relative;
}
.sidebar ul {
  list-style-type: none;
  padding: 0;
}
.sidebar ul li {
  margin-bottom: 5px;
}
.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  display: block;
  border-radius: 3px;
}
.sidebar ul li a:hover, .sidebar ul li a.active {
  background-color: #495057;
}

.content {
  flex: 1;
  padding: 16px;
  background-color: #f8f9fa;
  max-width: calc(100vw - 250px);
  overflow: auto;
  max-height: calc(100vh - 0px);
}

h1,
h2 {
  margin-bottom: 20px;
  font-weight: normal;
}

h3 {
  margin-bottom: 5px;
  font-weight: normal;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

table,
th,
td {
  border: 1px solid #ddd;
  white-space: nowrap;
}

th {
  padding: 6px 8px;
  background-color: #f0f0f0;
  color: #2e2e2e;
}

td {
  padding: 4px 8px;
  text-align: left;
}

.pagination {
  padding: 10px 0 5px 0;
}
.pagination a {
  text-decoration: none;
  color: #007BFF;
  padding: 5px 10px;
  border: 1px solid #ddd;
  margin-right: 5px;
  border-radius: 3px;
}
.pagination a:hover {
  background-color: #007BFF;
  color: #fff;
}

form {
  margin: 5px 0px 0px 0px;
  padding: 0px;
}

textarea {
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  width: 100%;
  height: 72px;
  min-height: 44px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  margin-bottom: 5px;
  transition: background-color ease-in-out 0.2s;
  resize: vertical;
}
textarea:focus-visible {
  outline: none;
  box-shadow: inset 0 0 1px rgba(0, 123, 255, 0.7176470588);
  border-color: rgba(0, 123, 255, 0.862745098);
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid transparent;
  cursor: pointer;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  margin-bottom: 4px;
  min-width: 54px;
  color: #313131;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
  color: #fff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-primary:focus,
.btn-primary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

/* btn-secondary */
.btn-secondary {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, 0.5);
}

/* btn-success */
.btn-success {
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
}

.btn-success:hover {
  background-color: #218838;
  border-color: #1e7e34;
}

.btn-success:focus,
.btn-success.focus {
  box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.5);
}

/* btn-warning */
.btn-warning {
  background-color: #ffc107;
  border-color: #ffc107;
  color: #212529;
}

.btn-warning:hover {
  background-color: #e0a800;
  border-color: #d39e00;
}

.btn-warning:focus,
.btn-warning.focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.5);
}

/* btn-danger */
.btn-danger {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #fff;
}

.btn-danger:hover {
  background-color: #c82333;
  border-color: #bd2130;
}

.btn-danger:focus,
.btn-danger.focus {
  box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5);
}

/* Tampilan tombol disabled */
.btn:disabled,
.btn.disabled {
  opacity: 0.65;
  cursor: not-allowed;
  background-color: #6c757d;
  border-color: #6c757d;
}

.sidebar form {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

#database-select,
#schema-select {
  padding: 4px 8px;
  background-color: #ECECEC;
  border: 1px solid #ddd;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.table-list {
  max-height: calc(100vh - 170px);
  overflow: auto;
}
.table-list li a {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

[data-from-default-app=true] .table-list,
[database-type=sqlite] .table-list {
  max-height: calc(100vh - 72px);
}

[data-from-default-app=false][database-type=mysql] .table-list,
[data-from-default-app=false][database-type=mariadb] .table-list {
  max-height: calc(100vh - 120px);
}

.collapsible .button-toggle {
  float: right;
  width: 20px;
  padding: 1px 5px;
  border: 1px solid #DDDDDD;
  background-color: #EEEEEE;
  cursor: pointer;
}
.collapsible .button-toggle::before {
  content: attr(data-close);
}

.collapsible > div {
  display: none;
}

.collapsible.open > div {
  display: block;
}

.collapsible.open .button-toggle::before {
  content: attr(data-open);
}

.table-content {
  margin-bottom: 10px;
}

.table-structure-inner,
.table-content-inner {
  overflow-x: auto;
  max-width: 100%;
  margin-bottom: 10px;
  max-height: calc(100vh - 265px);
}

.query-result {
  max-height: calc(100vh - 365px);
  padding-top: 4px;
  overflow-x: auto;
}

.table-structure-inner table td,
.table-content-inner table td,
.query-result table td {
  white-space: nowrap;
}
.table-structure-inner table tbody tr:nth-child(odd) td,
.table-content-inner table tbody tr:nth-child(odd) td,
.query-result table tbody tr:nth-child(odd) td {
  background-color: #F8F8F8;
}
.table-structure-inner table tbody tr:nth-child(even) td,
.table-content-inner table tbody tr:nth-child(even) td,
.query-result table tbody tr:nth-child(even) td {
  background-color: #FEFEFE;
}

.last-query {
  padding: 12px 16px 16px 16px;
  border: 1px solid #DDDDDD;
  margin-top: 20px;
  background-color: #FAFAFA;
  border-radius: 3px;
}

.query-title {
  font-weight: bold;
  padding: 0px 0px 4px 0;
  color: #555555;
}

.query-raw {
  padding: 8px 16px;
  border: 1px solid #e8aa35;
  background-color: #fff8ea;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 16px;
  border-radius: 3px;
  -moz-tab-size: 4;
    -o-tab-size: 4;
       tab-size: 4;
  overflow: auto;
}

.query-raw:focus-visible {
  outline: none;
  border: 1px solid #c89027;
  box-shadow: inset 0px 0px 2px rgba(200, 144, 39, 0.3294117647);
}

.sql-error {
  padding: 8px 16px;
  border: 1px solid #e86835;
  background-color: #ffd3c1;
  font-family: "Courier New", Courier, monospace;
  margin-bottom: 16px;
}

.alert {
  margin: 10px 0;
  padding: 8px 16px;
  border: 1px solid #e86835;
  background-color: #ffd3c1;
  font-family: "Courier New", Courier, monospace;
  border-radius: 3px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.modal-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.modal-content {
  position: relative;
  margin: 20px auto 0px auto;
  background-color: #fff;
  padding: 0px;
  border-radius: 3px;
  width: calc(100vw - 32px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.modal-content p {
  line-height: 1.45;
  margin-bottom: 4px;
}

.modal-sm .modal-content {
  display: block;
  width: 480px;
  max-width: calc(100vh - 40px);
  margin: 20px auto 0 auto;
}

.modal-md .modal-content {
  display: block;
  width: 500px;
  max-width: calc(100vw - 40px);
  margin: 20px auto 0 auto;
}

.modal-lg .modal-content {
  display: block;
  width: 800px;
  max-width: calc(100vw - 40px);
  margin: 20px auto 0 auto;
}

.modal-top-40 .modal-content {
  margin: 40px auto 0 auto;
}

.modal-top-80 .modal-content {
  margin: 80px auto 0 auto;
}

#exportModal .modal-content {
  margin: 20px auto 0 auto;
}
#exportModal .modal-body {
  max-height: calc(100vh - 135px);
  overflow: auto;
}

.sql-table-export td[align=right] {
  text-align: right;
}
.sql-table-export thead td,
.sql-table-export thead th {
  background-color: #e6e6e6;
  padding-top: 4px;
}
.sql-table-export tbody {
  /* Show dots for tables currently being exported */
  /* Show nothing (or replace with checkmark if desired) for finished tables */
  /* Show cross mark for tables that failed to export */
}
.sql-table-export tbody tr td.table-name {
  position: relative;
}
.sql-table-export tbody tr td.table-name::after {
  width: 10px;
  height: 10px;
  position: absolute;
  right: 6px;
  top: 2px;
}
.sql-table-export tbody tr[data-status=in-progress] td.table-name::after {
  content: "...";
  /* Indicates export is in progress */
  color: orange;
  margin-left: 4px;
  font-weight: bold;
}
.sql-table-export tbody tr[data-status=finish] td.table-name::after {
  content: "✓";
  /* Optional: shows checkmark for finished */
  color: green;
  margin-left: 4px;
  font-weight: bold;
}
.sql-table-export tbody tr[data-status=error] td.table-name::after {
  content: "✗";
  /* Indicates export failed */
  color: red;
  margin-left: 4px;
  font-weight: bold;
}

.close-btn {
  font-size: 22px;
  color: #aaa;
  cursor: pointer;
}

.close-btn:hover,
.close-btn:focus {
  color: #000;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding: 16px 16px 5px 16px;
  margin-top: -5px;
}
.modal-header .close-btn {
  margin-top: -8px;
}

.modal-header h2 {
  margin: 0;
}

.modal-body {
  padding: 16px 16px 10px 16px;
  position: relative;
}
.modal-body table.two-side-table {
  border: none;
}
.modal-body table.two-side-table td {
  border: none;
  padding: 8px 0;
}
.modal-body table.two-side-table td input[type=text],
.modal-body table.two-side-table td select {
  padding: 4px 8px;
  border: 1px solid #DDDDDD;
  background-color: #FFFFFF;
  color: #313131;
  width: 100%;
  box-sizing: border-box;
}

.modal-footer {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: flex-end;
  padding: 10px 16px 16px 16px;
}

.original {
  height: calc(100vh - 176px);
  max-height: calc(100vh - 176px);
}

/* CSS for the two-side-table class */
table.two-side-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  margin-bottom: 8px;
}

/* Default styling for the table, for screens smaller than 600px */
table.two-side-table th,
table.two-side-table td {
  width: 100%;
  /* Each column has a width of 100% for small screens */
  padding: 8px;
  border: 1px solid #ddd;
  text-align: left;
  display: block;
  /* Change each column to block-level for responsiveness */
}

table.two-side-table th {
  background-color: #f2f2f2;
  font-weight: bold;
}

table.two-side-table thead tr > th:nth-child(2),
table.two-side-table tbody tr td:nth-child(2) {
  padding: 0px;
}

/* Styling for screens larger than 600px */
@media (min-width: 800px) {
  table.two-side-table th,
  table.two-side-table td {
    display: table-cell;
    /* Return to normal table view */
  }
  table.two-side-table td:first-child,
  table.two-side-table th:first-child {
    width: 35%;
  }
  /* Set the other columns to have balanced width */
  table.two-side-table td:not(:first-child),
  table.two-side-table th:not(:first-child) {
    width: auto;
  }
}
textarea.data-editor,
div.data-editor {
  border-radius: 0;
  height: 44px;
  padding: 4px 8px;
  display: block;
  margin: 0;
  border: none;
}

input.data-editor {
  border-radius: 0;
  padding: 8px 8px;
  display: block;
  margin: 0px;
  border: none;
  background-color: #FFFFFF;
  transition: background-color ease-in-out 0.2s;
  width: 100%;
  box-sizing: border-box;
}

input[type=number].data-editor::-webkit-outer-spin-button,
input[type=number].data-editor::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number].data-editor {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}

input.data-editor:focus-visible {
  outline: none;
  box-shadow: inset 0 0 1px rgba(0, 123, 255, 0.7176470588);
  border-color: rgba(0, 123, 255, 0.862745098);
}

form.edit-form {
  padding-bottom: 20px;
}

th.cell-edit,
td.cell-edit,
th.cell-delete,
td.cell-delete {
  padding: 1px 4px;
  width: 28px;
  text-align: center;
}
th.cell-edit a,
td.cell-edit a,
th.cell-delete a,
td.cell-delete a {
  display: block;
  font-size: 11px;
}

textarea.description-textarea {
  height: 200px;
}

[data-no-table=true] textarea[name=query] {
  height: calc(100vh - 105px);
  max-height: calc(100vh - 105px);
}

a.all-table {
  color: #fafafa;
}

.context-menu-relation {
  width: 180px;
  overflow-y: auto;
}

.input-label {
  padding: 0.375rem 0;
}

.form-control {
  height: calc(1.5em + 0.6rem + 1px);
  padding: 0.15rem 0.6rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

th.header-drag-handle {
  width: 17px;
}

.drag-handle {
  cursor: move;
}

.drag-handle::before {
  content: "⠿";
  font-size: 15px !important;
  width: 17px;
  text-align: center !important;
  display: inherit;
  color: #555555;
}

tr.dragging {
  opacity: 0.5;
}

tr.over {
  outline: 2px dashed #747474;
}

tr.group-header td {
  background-color: #f1f8ff;
}

.has-submenu > .submenu {
  display: none;
  position: absolute;
  top: -1px;
  left: 100%;
  background: #fff;
  border: 1px solid #ccc;
  z-index: 1001;
  min-width: 200px;
}

.has-submenu:hover > .submenu {
  display: block;
}

.copy-feedback {
  position: fixed;
  width: 64px;
  height: 64px;
  border: 2px solid #4CAF50;
  border-radius: 50%;
  pointer-events: none;
  animation: shrinkFade 0.4s ease-out forwards;
  z-index: 9999;
}

@keyframes shrinkFade {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
.download-feedback {
  position: fixed;
  pointer-events: none;
  animation: dropFade 0.4s ease-out forwards;
  z-index: 9999;
}

@keyframes dropFade {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(300px); /* move down ~300px */
    opacity: 0;
  }
}
.button-area {
  padding-top: 4px;
}

.suggestions-container {
  padding-bottom: 4px;
}

.btn-group {
  display: inline-block;
  padding: 4px 4px 0px 4px;
  border-radius: 4px;
  background-color: #FAFAFA;
}

.btn-group-with-label .group-label {
  display: inline-block;
  padding: 0px 2px;
  color: #383838;
}/*# sourceMappingURL=database-explorer.css.map */