// Variable for color and size
$primary-bg-color: #fbfbfb;
$border-color: #ddd;
$light-bg-color: #f1f1f1;
$min-panel-width: 100px;
$panel-border: 1px solid #ccc;
$font-family: Arial, sans-serif;
$font-size: 13px;
$button-padding: 5px 12px;
$input-padding: 5px 10px;
$select-padding: 5px 10px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.entity-editor {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $font-size;
    height: 100%;
    width: 100%;
    position: relative;

    // Main container
    .container {
        display: flex;
        width: 100%;
        overflow: hidden;
        height: calc(100vh - 395px);
    }

    .panel-title {
        height: 40px;
        overflow: hidden;
        position: relative;
        width: 100%;
    }

    // Left and right panels
    .left-panel {
        display: flex;
        flex-grow: 1;
        position: relative;
        overflow: hidden;
        padding: 10px;
        border: $panel-border;
        width: calc(70% - 5px);
        background-color: $primary-bg-color;
        input[type="checkbox"]
        {
            vertical-align: text-top;
        }
        .object-container {
            width: 224px;
            height: 100%;
            overflow-x: auto;
            overflow-y: hidden;
            padding-right: 10px;
            position: relative;

            .table-list {
                list-style-type: none;
                padding: 0;
                overflow: auto;
                padding-bottom: 2.2rem;
                margin: 5px 0 0px 0;
                height: calc(100vh - 450px);

                li {
                    padding: 0 1rem 0 0;
                    margin: 0;
                    white-space: nowrap;

                    a {
                        font-size: 0.6rem;
                    }

                    line-height: 1.5;
                }
            }
        }

        // Container for entities
        .entities-container {
            margin: 0;
            min-height: 200px;
            overflow: hidden;
            width: 100%;
            position: relative;
            height: 100%;
            box-sizing: border-box;

            .diagram-list {
                list-style: none;
                padding: 0;
                margin: 0;
                transition: margin-left 0.2s ease-in-out;
            }

            .diagram-container {
                position: relative;
                height: 100%;
                overflow: hidden;
            }

            .diagram {
                margin: 5px 0 0px 0;
                height: calc(100vh - 450px);
                overflow: auto;
                display: none;
            }

            .diagram.active {
                display: block;
            }
        }
    }

    .resize-bar {
        width: 10px;
        cursor: ew-resize;
        position: relative;
        &::before, &::after{
            content: "";
            width: 0px;
            height: 20px;
            background-color: #ccc;
            position: absolute;
            top: calc(50% - 10px);
        }

        &::before{
            left: 3px;
            border-left: 1px solid #777777;
        }

        &::after{
            right: 3px;
            border-right: 1px solid #777777;
        }
    }

    .right-panel {
        overflow: auto;
        padding: 10px;
        border: $panel-border;
        width: calc(30% - 5px);
        background-color: $primary-bg-color;

        textarea {
            height: calc(100vh - 555px);
            min-height: 100px;
            width: 100%;
            padding: 10px;
            box-sizing: border-box;
            resize: none;
            tab-size: 2;

            &:focus-visible {
                outline: none;
            }
        }
    }

    // Button container
    .button-container {
        padding: 10px 0px 0;
    }

    // Input and select styling
    input[type="text"],
    select {
        padding: $input-padding;
        background-color: #FFFFFF;
        border: 1px solid #999999;
        color: #333333;

        &.entity-name {
            border: 1px solid #dddddd;

            &:focus-visible {
                outline: none;
            }
        }
    }

    // Form editor
    .editor-container {
        height: 225px;
    }

    .editor-form {
        padding: 10px 0 0 0;

        h3 {
            margin: 0;
        }

        .table-container {
            max-height: 180px;
            overflow: auto;
            margin-top: 5px;

            table > tbody > tr:hover > td{
                background-color: #f3f3f3;
                input[type="text"], select{
                    background-color: transparent !important;
                }
            }
        }

        table {
            width: 100%;
            border-collapse: collapse;
            border: $panel-border;

            .column-mover {
                width: 16px;
            }

            .column-action {
                text-align: center;
                white-space: nowrap;
                width: 68px;

                button {
                    font-size: 13px;
                    margin-bottom: 2px;
                }
            }

            thead {
                background-color: $light-bg-color;
                border: $panel-border;
            }

            th {
                border: $panel-border;
                position: sticky;
                top: 0;
                background-color: $light-bg-color;
                padding: 4px 8px;
                text-align: left;
                z-index: 2;

                &::before {
                    content: "";
                    width: 100%;
                    display: block;
                    position: absolute;
                    height: 1px;
                    background-color: #ccc;
                    top: -1px;
                    left: 0;
                }

                &.column-nl,
                &.column-pk,
                &.column-ai {
                    width: 20px;
                    text-align: center;
                }

                &:nth-child(3) {
                    width: 12%;
                }

                &:nth-child(4) {
                    width: 10%;
                }

                &:nth-child(5) {
                    width: 15%;
                }

                &:nth-child(6) {
                    width: 12%;
                }
            }

            td {
                border: $panel-border;
                padding: 0;
                text-align: left;
                font-size: 8px;

                &.column-nl,
                &.column-pk,
                &.column-ai {
                    text-align: center;
                }

                input[type="text"],
                select {
                    display: block;
                    margin: 0;
                    border: 1px solid transparent;
                    width: 100%;
                    box-sizing: border-box;
                    padding: 2px 8px;
                }

                input[type="text"]:focus-visible,
                select:focus-visible {
                    outline: none;
                }

                button {
                    padding: 0;
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }

    // Checkbox styling
    input[type="checkbox"] {
        margin: 0 5px;
    }

    // Entity styling
    .entity {
        display: inline-block;
        min-width: 180px;
        border: 1px solid #DDDDDD;
        vertical-align: top;
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 0;
        background-color: #FCFCFC;

        .entity-header {
            background-color: #EEEEEE;

            button {
                float: right;
                width: 16px;
                height: 16px;
                border: none;
                background-color: transparent;
                font-size: 11px;
                padding: 2px;
                margin-right: 6px;
                margin-top: 2px;

                &:nth-child(1) {
                    margin-right: 10px;
                }
            }

            h4 {
                margin: 0;
                padding: 5px 54px 5px 10px;
                border-bottom: 1px solid #DDDDDD;
                color: #282828;
            }
        }

        .entity-body {
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {
                    padding: 4px 10px 5px 10px;
                    border-bottom: 1px solid #DDDDDD;
                    color: #2d2d2d;

                    .data-type {
                        background-color: #EAEAEA;
                        padding: 2px 5px;
                        font-size: 9px;
                        float: right;
                        margin-top: 1px;
                        margin-left: 8px;
                        border-radius: 2px;
                    }

                    &[data-primary-key="true"] {
                        background-color: #E8F6FF;
                        color: #053D62;

                        .data-type {
                            background-color: #C4E9FF;
                        }
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &::after {
                        content: "";
                        display: block;
                        clear: both;
                    }
                }
            }
        }

        .entity-footer {
            padding: 5px 10px;
            display: none;
        }

        .entity-footer button {
            margin-bottom: 0;
        }
    }
        
    .table-export-sql-container{
        height: 120px;
        overflow: auto;
        margin-bottom: 10px;
        table
        {
            thead
            {
                tr{
                    th:nth-child(1), th:nth-child(2),
                    td:nth-child(1), td:nth-child(2)
                    {
                        width: 16px;
                        text-align: center;
                    }
                }
            }
            th, td{
                input[type="checkbox"] {
                    margin-left: 0;
                    margin-right: 0px;
                }
                font-size: 12px;
            }
        }
    }
    


}

.entity-name {
    width: 200px;
}

.tabs-container {
    margin: auto;
}

.tabs-link-container {
    position: relative;
    width: calc(100% - 50px);
    border-bottom: 1px solid #EEEEEE;
    overflow: hidden;
}

.tabs {
    display: flex;
    white-space: nowrap;
    padding: 0;
    list-style: none;

    li {
        display: inline-block;
        margin-right: 4px;
        border: solid #EEEEEE;
        border-width: 1px 1px 0 1px;
        white-space: nowrap;
        padding-right: 6px;
        background-color: #EEEEEE;

        &.active {
            background-color: #FFFFFF;
        }

        &:last-child {
            padding-right: 0px;
        }
        
        &.diagram-tab{
            padding-left: 10px;
            position: relative;
            cursor: move;
            &::before{
                content: "⠿";
                position: absolute;
                margin-left: -6px;
                margin-top: 5px;
            }
        }
        a{
            cursor: pointer;
        }
    }
}

.tab-link {
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    color: #555;
    transition: 0.3s;

    &:hover,
    &.active {
        color: #007bff;
    }
}

.tab-content-container {
    padding: 15px;
    border-top: none;
}

.tab-content {
    display: none;

    &.active {
        display: block;
    }
}

.diagram-list {
    &.tabs {
        li {
            input[type="text"],
            a.update-diagram {
                display: none;
            }

            &[data-edit-mode="true"] {
                a.tab-link {
                    display: none;
                }

                a.update-diagram {
                    display: inline-block;
                }

                a.edit-diagram {
                    display: none;
                }

                input[type="text"] {
                    display: inline-block;
                    height: 20px;
                    border: none;
                    width: 100px;
                    margin-top: 4px;
                    font-family: Arial, sans-serif;
                    font-size: 13px;
                    background-color: transparent;
                }

                input[type="text"]:focus-visible {
                    outline: none;
                }
            }
        }
    }
}

.tab-mover {
    float: right;
    margin-top: 4px;

    li {
        width: 16px;
        height: 16px;
        display: inline-block;
    }
}

.diagram-container {
    .diagram {
        display: none;

        &.active {
            display: block;
        }
    }
}

.icon-delete::before {
    content: "❌";
}

.icon-edit::before {
    content: "✏️";
}

.icon-ok::before {
    content: "✅";
}

.icon-move-up::before {
    content: "⬆️";
}

.icon-move-down::before {
    content: "⬇️";
}

.icon-move-left::before {
    content: "⬅️";
}

.icon-move-right::before {
    content: "➡️";
}

label {
    white-space: nowrap;
}

.data-preview-table{
    td
    {
        padding: 0 !important;
        .entity-data-cell{
            border: 1px solid transparent;
            padding: 4px 6px;
            display: block;
            width: 100%;
            box-sizing: border-box;
        }
        .entity-data-cell:focus-visible{
            outline: none;
        }

    }
    .td-remover{
        width: 20px;
        text-align: center;
    }
}