
.file-manager-left-panel {
	width: 250px;
	padding: 10px;
	overflow-y: auto;
}
.file-manager-right-panel {
	flex: 1;
	padding: 10px 0 0 10px;
	overflow-y: auto;
}
h3 {
	margin: 0;
	padding: 4px 0;
	font-size: 16px;
}
#dir-tree {
	list-style-type: none;
	padding: 0px;
	margin: 0;
    width: 100%;
    height: calc(100vh - 146px);
    box-sizing: border-box;
    overflow: auto;
	& > li {
		margin: 0;
		list-style-type: none;
        white-space: nowrap;
	}
	li {
		ul {
			margin: 0;
			padding: 0px 0px 0px 10px;
			li {
				padding: 0;
				margin: 0;
				margin-left: 10px;
				list-style-type: none;
                white-space: nowrap;
			}
		}
	}
    
    span
    {
        white-space: nowrap;
    }
}



.image-mode{
	display: none;
}
li[data-type="dir"], li[data-type="file"] {
	cursor: pointer;
}
li[data-type="dir"]::before {
	content: '\1F4C2';
	display: inline-block;
	width: 22px;
}
li[data-type="file"]::before {
	content: '\1F4C4';
	display: inline-block;
	width: 22px;
}
li[data-type="dir"]:hover {
	&::before {
		color: #007bff;
	}
}
li[data-type="file"]:hover {
	&::before {
		color: #28a745;
	}
}
textarea {
	width: 100%;
	min-height: 200px;
	box-sizing: border-box;
	padding: 20px;
	border: 1px solid #cccccc;
	&:focus-visible {
		outline: none;
	}
}

/*
.CodeMirror-lines {
	padding-left: 0.5rem;
}

.CodeMirror-linenumber {
	left: -0.5em !important;
}

.CodeMirror {
	line-height: 1.6;
	height: calc(100vh - 184px);
}

.CodeMirror-linebackground {
	margin-left: -0.5rem;
	margin-right: -0.5rem;
	width: calc(100% + 1.0rem);
}
*/
